<!-- HEADER -->
<header>
  <div id="header_stuck" class="header_stuck__absolute">
    <div class="container header_main flexbox">
      <!-- LOGO -->
      <div id="logo" class="logo_main">
        <a href="/">
          <img src="{{ site.logo }}" alt="{{ site.title }}"/>
        </a>
      </div>

      <!-- MEGAMENU -->
      <div id="megamenu">
        <h2 id="megamenu_mobile_toggle">{{ site.title }}<i></i></h2>

        <div class="menu_wrapper">
          <ul class="level_1">
            {% for item in site.data.menu %}
            <li class="level_1_item level_2_small__wrap">
              <a class="level_1_link" href="{{ site.url }}{{ item.href }}">
                {{ item.name }}
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

</header>
