<section class="newsletter_block flexbox">
  <div class="inside">
    <h3 class="section_heading">Newsletter</h3>
    <p>Subscribe to the Shopence mailing list to receive updates on new arrivals, special offers and other discount information.</p>


    <form method="post" action="https://theme276-print.myshopify.com/contact#contact_form" id="contact_form" class="contact-form" accept-charset="UTF-8"><input type="hidden" value="customer" name="form_type" /><input type="hidden" name="utf8" value="✓" />
      <input type="hidden" name="contact[tags]" value="prospect,newsletter" id="newsletter-tags" />
      <input type="hidden" name="contact[first_name]" value="Newsletter" id="newsletter-first-name" />
      <input type="hidden" name="contact[last_name]" value="Subscriber" id="newsletter-last-name" />
      <input type="email" name="contact[email]" id="contact_email_footer" placeholder="Enter your email" required />


      <button type="submit" name="subscribe" class="link">Subscribe</button>

    </form>

  </div>
</section>