---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "assets27b7";
@import "style.scss27b7";
@import "responsive.scss27b7";
@import "font-awesome.min.scss";

.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

body {
  background: #fff !important;
}
.page_content{
  margin: 14px 0 0 0;
}

.page_content{
  margin: 0px;
}
.margin_content{
  margin: 14px 0 0 0;
}
// card
.card-block{
  padding-bottom: 30px;
}
.card-block a{
  margin-top: 20px;
}
.page_header{
  padding-left: 15px;
}
.homepage_collection{
  padding-top: 0px;
}

// image view

/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
.caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.rd-parallax-inner{
  margin-top: 0px;
  transform: translate3d(0px, 0px, 0px);
}

.header_custom_block{
  background-image: url("/assets/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
}

@media (max-width: 991px){
.color_scheme .template-index header {
  min-height: 0px;
  padding-bottom: 30px;

}
}

.inside{
  color: #fff;
}
.scheme_1 h1{
  color: #fff;

}

.img_service:hover img{
  opacity: 0.3;
}
@media (max-width: 480px){
 .color_scheme .header_custom_block .inside {
    width: 100%;
    margin: 0 0 30px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
 }
}
.deconova {

}

.portfolio-img-content {
  width: 100;
  margin-bottom: 10 px;
  position: relative;
  overflow: hidden;
}

.portfolio img {
  width: 100%;
  height: auto;
  -moz-transition: all 0.3s;
 -webkit-transition: all 0.3s;
 transition: all 0.3s;
}

.portfolio-img-content:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.content-deconova {
  padding: 30px;
display: inline-block;
margin-left: 40px;
margin-right: 40px;
background-color: #fff !important;
margin-top: 40px;

}

.deconova-img img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

@media (max-width: 430px) {
  .deconova-img img {
    object-fit: cover;
    width: 100%;
    height: 100px;
  }
}

h2.deconova-font {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
  color: red;
  display: inline-table;
  color: #5a2b79;
}

h2.deconova-font a {
   color: #6aaa43 !important;
}

.logo-deconova {
  width: 200px;
  height: auto;
}

.deconova-body {
  background-image: url("/assets/images/deconova-bg.png") !important;
}

.scheme_1 .homepage_collection .btn {
  border-radius: 0 !important;
  width: 100%;
  margin-bottom: -19%;
}

@media (max-width: 1199px) and (min-width: 768px) {
  .scheme_1 .homepage_collection .btn {
    margin-bottom: -41%;
  }
}

@media (max-width: 767px) and (min-width: 600px) {
  .scheme_1 .homepage_collection .btn {
    margin-bottom: -13%;
  }
}

@media (max-width: 599px) and (min-width: 301px) {
  .scheme_1 .homepage_collection .btn {
    margin-bottom: -17%;
  }
}

@media (max-width: 300px) {
  .scheme_1 .homepage_collection .btn {
    margin-bottom: -34%;
  }
}

.footer-class {
  background-color: #3c3c3b;
  margin-top: 30px;
}

.footer-class h5{
  color: #f49800 !important;
}

.m-b-10 {
  margin-bottom: 30px !important;
}

.espacio {
  height: 10px;
  display: inline-block;
}

.footer-class ul li a{
  color: #fff !important;
}

.footer-class-deconova {
  background-color: #e3f3c7;
  margin-top: 30px;
}
